@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-bg);
  background-image: url("./assets/images/bg.avif");
  min-height: 100svh;
}

body:before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);

  pointer-events: none;
  z-index: 0;
}

body>* {
  position: relative;
  z-index: 1;
}

main {
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
  background-color: var(--color-bg);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #d14747;
  --color-secondary: #2279c5;
  --color-bg: #f9fafb;
  --color-bg-secondary: rgba(255, 255, 255, 0.6), ;
  --color-text: #000000;
  --color-validate: rgb(91, 223, 91);
  --color-refuse: rgb(236, 69, 69);

}

.FlexSpaced {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.FlexSpacedArround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pixelated {
  image-rendering: pixelated;
}

.btn {
  background: #ff2b05;
  border: none;
  color: var(--color-bg);
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn.secondary {
  background: #2a75bb;
  color: white;
}