.PokeListRow {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: grid;
    width: 200px;
    margin: 10px;
    transition: transform 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    height: 150px;
    position: relative;
}

.PokeListRow:hover,
.PokeListRow:focus {
    transform: scale(1.1);
}

.PokemonListRowPortaitWrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.PokemonListRowPortait {
    overflow: hidden;
    image-rendering: pixelated;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    inset: 0;
    z-index: 3000;
    transform: scale(1) translate(0, -30px);
    transition: opacity 0.4s ease, filter 0.3s ease, transform 0.4s ease;
}

.PokeListRow:hover .PokemonListRowPortait,
.PokeListRow:focus .PokemonListRowPortait {
    filter: drop-shadow(0 0 10px gold);
}

.baseImage {
    opacity: 1;
}

.shinyImage {
    opacity: 0;
}

.PokeListRow:hover .shinyImage,
.PokeListRow:focus .shinyImage {
    animation: shinyBlink 0.8s infinite alternate;
}

@keyframes shinyBlink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.shimmer {
    position: relative;
    overflow: hidden;
    background: #eee;
}

.shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 25%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.6),
            transparent);
    transform: skewX(-20deg);
    animation: shimmer 10s infinite;
}

@keyframes shimmer {
    0% {
        left: -500%;
    }

    100% {
        left: 500%;
    }
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}